{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Show Stamps{% endblock %}

{% block content %}
<div class="container">
    {{ wtf.quick_form(form) }}
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">MichNr</th>
                <th scope="col">Entwertung</th>
                <th scope="col">Anzahl</th>
            </tr>
        </thead>
        <tbody>
            {% for marke in marken %}
            <tr>
                <td>{{ marke['MichNr'] }}</td>
                <td>{{ marke['Entwertung'] }}</td>
                <td>{{ marke['Anzahl'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}